@font-face {
    font-family: 'Nunito Sans Light';
    src: url('NunitoSans-Light.ttf');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('');
}

#askDetail {
    -fx-background-color: #f7f7f7;
    -fx-font-family: 'Nunito Sans Light';
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #ebdddd;
    -fx-letter-spacing: 20;
}

#BorderPane {
    -fx-background-color: #FFFFFF;

}

